html {
  font-size: $font-size;
  color: $font-color;
}

body{
  font-family: 'Roboto';
  background: #d9d3d3;
  user-select: none;
}

.image {
  width: 250px;
  height: 200px;
  background-image: url('images/level.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}